/* Type */

html {
  font-size: 18pt;
}

  @media screen and (max-width: 1680px) {

    html {
      font-size: 14pt;
    }

  }

  @media screen and (max-width: 1280px) {

    html {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 736px) {

    html {
      font-size: 11pt;
    }

  }

  @media screen and (max-width: 360px) {

    html {
      font-size: 10pt;
    }

  }

body {
  background-color: #ffffff;
  color: #000000;
}

body, input, select, textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
}

a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
}

  a:hover {
    text-decoration: none;
  }

strong, b {
  font-weight: 400;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2rem 0;
}

  p.major {
    font-size: 1.25rem;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.375;
  letter-spacing: -0.05em;
  margin: 0 0 1rem 0;
}

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
  }

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
}

sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem;
}

blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 0 2rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
}

code {
  border-radius: 4px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25rem;
  padding: 0.25rem 0.325rem;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2rem 0;
}

  pre code {
    display: block;
    line-height: 1.5;
    padding: 0.75rem 1rem;
    overflow-x: auto;
  }

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2.5rem 0;
}

  hr.major {
    margin: 3.5rem 0;
  }

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

@media screen and (max-width: 736px) {

  p.major {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

}

input, select, textarea {
  color: #000000;
}

a {
  color: #000000;
}

  a:hover {
    color: #47D3E5;
  }

strong, b {
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

blockquote {
  border-left-color: rgba(0, 0, 0, 0.2);
}

code {
  background: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.2);
}

hr {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}